<div style="height: 700px;

">
  <!-- panel info header -->
  <mat-expansion-panel class="mat-elevation-z6">
    <mat-expansion-panel-header [collapsedHeight]="'70px'" style=" width: 1316px; height: auto; ">
      <mat-panel-title style="height: 65px;
      ">
        <mat-icon svgIcon="patient-icon" style="margin-top: 10px ;
       margin-left: 15px;
       margin-right: 20px;
       width: 40px;
       height: 40px;"></mat-icon>
        <p style=" width: 1366px; height: 65px;  font-size: 20px;color: #7797ae; margin-top: 20px;">

          <span style="font-weight: bold;">{{SelectedPatient.PatientName}}</span> Patient #{{SelectedPatient.PatientID}}
          {{SelectedPatient.PatientGender}} |
          {{SelectedPatient.PatientAge}} years
        </p>










      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="mainGrid" style="
   width: 1297px;
   height: 165px;
   display: grid;
   grid-template-columns: 1fr 1fr  1fr 1fr 1fr;
   grid-template-rows: auto ;
   border-radius: 2px;
   background-color: #f1f4f6;">
      <div style="grid-column: 1;
      width: 400px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto ;
                 ">
        <span style="font-weight: bold;
        color: #4a4a4a;
        font-size: 15px;
                    grid-column: 1;
                    grid-row: 1;
                    margin-top: 20px;
    margin-left: 40px;
        ">DOB</span>
        <span style="font-weight: normal;
          font-size: 15px;
        color: #4a4a4a;
        grid-column: 2;
        grid-row: 1;
        margin-top: 20px;
">{{SelectedPatient.PatientBirthDate | date}}</span>
        <span style="font-weight: bold;
          font-size: 15px;
color: #4a4a4a;
            grid-column: 1;
            grid-row: 2;
            margin-top: 20px;
    margin-left: 40px;
">Accession#</span>
        <span style="font-weight: normal;
          font-size: 15px;

color: #4a4a4a;
grid-column: 2;
grid-row: 2;
margin-top: 20px;
">{{SelectedPatient.PatientAccessionNumber}}</span>
        <span style="font-weight: bold;
          font-size: 15px;
color: #4a4a4a;
            grid-column: 1;
            grid-row: 3;
            margin-top: 20px;
    margin-left: 40px;
">Description</span>
        <span style="font-weight: normal;
          font-size: 15px;
          margin-top: 20px;
color: #4a4a4a;
grid-column: 2;
grid-row: 3;
text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
">{{SelectedPatient.PatientStudyDescription}}</span>
      </div>
      <mat-divider [vertical]="true" style="grid-column: 2;

      border-right-width: 1px;
      border-color:#41505b;
      margin: 10px;
      "></mat-divider>
      <div style="grid-column: 3;
       width: 400px;
               ">

        <div class="alert" style="
       grid-column: 2;
       display: grid;
       border-radius: 2px;
       background-color: #f1f4f6;">
          <div style="
          grid-row: 1;
          display: grid;
          grid-template-columns: auto 1fr;
          ">
            <mat-icon svgIcon="alert-icon" style="
            margin-top: 10px;
            grid-column:1 ;
          margin-top: 20px ;
        margin-left: 15px;
        margin-right: 20px;
        width: 20px;
        height: 20px;"></mat-icon>
            <span style="grid-column: 2; text-align: right; width: 42px;
            height: 20px;
            font-weight: bold;
        font-size: 15px;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            margin-top: 20px;
            color: #4a4a4a;">Alerts</span>
          </div>
        </div>

      </div>
      <mat-divider [vertical]="true" style="grid-column: 4;
      border-right-width: 1px;
      border-color:#41505b;
       margin: 10px;
      "></mat-divider>
      <div style="grid-column: 5;
       width: 400px;
               ">
        <div style="display: inline;

       grid-template-columns: 1fr 1fr;
       grid-template-rows: auto auto auto auto ;
       "></div>
        <span style="grid-column: 1;
        -ms-grid-column-span: 2;
  text-align: right;
  width: 42px;
 height: 20px;
 font-weight: bold;
font-size: 15px;
 font-stretch: normal;
 font-style: normal;
 line-height: 2.5em;
 letter-spacing: normal;
 margin-top: 20px;
 margin-left: 40px;
 color: #4a4a4a;">Important Notes</span>
      </div>

    </div>
  </mat-expansion-panel>

  <div style="
  display: grid;
  height: 630px;
   z-index: -1;
  grid-template-columns: 950px 420px;
  ">



    <!-- select protocol label -->

    <label style="width: 547px;
    grid-column: 1;
    grid-row: 1;
      height: 50px;
      margin-top: 25px;
      margin-left:35px ;
      font-size: 32px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      color: #465b6b;">Select Injection Protocol</label>


    <!-- priors and availables main grid-->
    <div style="display: grid;
      grid-column: 1;

      grid-row: 1;
      margin-top: 75px;
      margin-left: 35px;
      grid-template-columns: 300px 500px;
      ">
      <!-- priors -->
      <div style="grid-column: 1;
       justify-self: stretch;
  height: 50px;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.78;
  letter-spacing: 0.23px;
  color: #465b6b;
      ">
        <label> Patient Priors ({{NumberOfPriors}})</label>
        <mat-divider style="width: 280px;
        border-right-width: 1px;
        border-color:#7797ae;
        margin-bottom: 5px;"></mat-divider>
        <ng-scrollbar #scrollable track="all" pointerEventsMethod="scrollbar" style="max-height: 500px;">

          <div *ngFor="let priorProtocol of PatientPriorsList" style="
          display: grid;

        width: 28px;
        height: 100px;
        ">

            {{priorProtocol.studyName}}
            <mat-divider style="width: 280px;
        border-right-width: 1px;
        border-color:#7797ae;
        margin-top: 5px;"></mat-divider>
          </div>

        </ng-scrollbar>

      </div>

      <!-- availables -->
      <div class="availablesList" >
        <label> All available ({{NumberOfTemplates}}) </label>
        <mat-divider style="
        width: 500px;
              border-right-width: 1px;
              border-color:#7797ae;
              margin-bottom: 5px;
              "></mat-divider>
        <ng-scrollbar  #scrollable track="all" pointerEventsMethod="scrollbar" style="
        max-width: 520px;
        max-height: 495px;
        width: 520px;">
          <div *ngFor="let protocol of ProtocolTemplatesList">
            <mat-expansion-panel class="mat-elevation-z0" style="width:500px">
              <mat-expansion-panel-header [collapsedHeight]="'60px'" style=" height: auto; ">
                <mat-panel-title style="width: 179px;
              height: 50px;
              font-size: 22px;
              font-weight: 500;
              font-stretch: normal;
              font-style: normal;
              line-height: 2.27;
              letter-spacing: 0.28px;
              color: #7797ae;">
                  {{protocol.name}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              body

            </mat-expansion-panel>
            <mat-divider style="
          width: 500px;
                border-right-width: 1px;
                border-color:#7797ae;
                margin-top: 5px;
                "></mat-divider>
          </div>
        </ng-scrollbar>

      </div>

    </div>

    <!-- preview panel -->
    <div style="grid-column: 2;
      background-color:
      #eceff4;
      z-index: -1;
      "> </div>
  </div>



</div>
