<div style="height: 700px;">
  <mat-expansion-panel>
    <mat-expansion-panel-header [collapsedHeight]="'70px'" style=" width: 1316px; height: auto; ">
      <mat-panel-title style="height: 65px;
      ">
        <mat-icon svgIcon="patient-icon" style="margin-top: 10px ;
       margin-left: 15px;
       margin-right: 20px;
       width: 40px;
       height: 40px;"></mat-icon>
        <p style=" width: 1366px; height: 65px;  font-size: 20px;color: #7797ae; margin-top: 20px;">

          <span style="font-weight: bold;">{{SelectedPatient.PatientName}}</span> Patient #{{SelectedPatient.PatientID}} {{SelectedPatient.PatientGender}} |
          {{SelectedPatient.PatientAge}}
        </p>










      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>First name</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Age</mat-label>
      <input matInput type="number" min="1">
    </mat-form-field>
  </mat-expansion-panel>
</div>
